/*
genearal
*/

body, html {
  font-family: futura;
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  text-align: center;
}
@font-face {
  font-family: hannari;
  src: url(../images/Hannari.otf);
}
p, h2 {
  font-family: hannari;
}

/*
header
*/
body > header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.5);
}
body > header > nav {
  float: right;
  margin-right: 50px;
}

body > header > nav > ul {
  font-size: 1.2rem;
}

body > header > nav > ul > li {
  display: inline-block;
  float: left;
  margin: 0 10px; 
  line-height: 80px;
}
body > header > h1 {
  display: inline-block;
  font-size: 1.8rem;
  line-height: 80px;
  margin-left: 50px;
  text-align: left;
  float: left;
}

#wrapper {
  height: 100%;
}

section {
  clear: both;
  position: relative;
}

section > h1 {
  font-size: 3.6rem;
}

.left {
  width: 50%;
  float: left;
}

/*
home section
*/
#home {
  /*background: url("../images/hyoutan_cover_01.jpg") center center no-repeat;*/
  background-size: cover;
  height: 100%;
  -webkit-animation: change-bg-url 15000ms ease-out infinite;
}

/*
home animation
*/
@-webkit-keyframes change-bg-url {
  0% {background: url("../images/hyoutan_cover_01_mono.jpg") center center no-repeat; background-size: cover; opacity: 0.2;}
  20% {background: url("../images/hyoutan_cover_01_mono.jpg") center center no-repeat; background-size: cover; opacity: 1;}
  25% {opacity: 1;}
  30% {background: url("../images/hyoutan_cover_01_on.jpg") center center no-repeat; background-size: cover; opacity: 0.2;}
  35% {background: url("../images/hyoutan_cover_02_mono.jpg") center center no-repeat; background-size: cover; opacity: 1;}
  55% {background: url("../images/hyoutan_cover_02_mono.jpg") center center no-repeat; background-size: cover;}
  60% {opacity: 1;}
  65% {background: url("../images/hyoutan_cover_02_on.jpg") center center no-repeat; background-size: cover; opacity: 0.2;}
  70% {background: url("../images/hyoutan_cover_03_mono.jpg") center center no-repeat; background-size: cover; opacity: 1;}
  90% {background: url("../images/hyoutan_cover_03_mono.jpg") center center no-repeat; background-size: cover; opacity: 1;}
  95% {background: url("../images/hyoutan_cover_03_on.jpg") center center no-repeat; background-size: cover; opacity: 1;}
  100% {background: url("../images/hyoutan_cover_01_mono.jpg") center center no-repeat; background-size: cover; opacity: 0.2;}
}

#home > h1 {
  color: #FFFFFF;
  position: absolute;
  bottom: 20%;
  right: 20%;
  font-size: 3.6rem;
  font-weight: 100;
}

/*
about section
*/

section > .left {
  width: 50%;
  float: left;
}
/*#about > .left > img {
  width: 100%;
}*/
img {
  display: block;
  width: 100%;
}
section > .right {
  width: 50%;
  float: left;
}
section > .right > h1,
section > .left > h1 {
  font-size: 3.6rem;
  line-height: 36px;
  padding-top: 114px;
}
section > .right > h2,
section > .left > h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 100px;
}

section > .left > p,
section > .right > p {
  font-size: 1.2rem;
  line-height: 50px;
  text-align: center;
  margin-top: 55px;
}

#about > .right > p > span {
  font-size: 1.0rem;
  line-height: 10px;
  display: block;
}

/*
how section
*/


/*
usage section
*/
#usage > h1 {
  line-height: 36px;
  padding-top: 114px;
  padding-bottom: 10px;
  position: relative;
}
#usage > h1::after {
  content: "";
  display: block;
  height: 1700px;
  width: 1px;
  background-color: #757575;
  position: absolute;
  left: 50%;
  top: 160px;
}

#usage > figure > img {
  width: 300px;
  height: 300px;
  left: 50%;
  position: relative;
}

#usage > figure > figcaption {
  position: relative;
  left: calc(50% + 300px);
  display: block;
  width: 300px;
  top: -180px;
  line-height: 30px;
}
#usage > figure:nth-of-type(2) > figcaption {
  position: relative;
  left: calc(50% - 600px);
  display: block;
  width: 300px;
  top: -180px;
  line-height: 30px;
}

#usage > figure:nth-of-type(1),
#usage > figure:nth-of-type(3) {
}
#usage > figure:nth-of-type(1) > figcaption,
#usage > figure:nth-of-type(3) > figcaption {
}
#usage > figure:nth-of-type(1) > img {
/*  -webkit-border-radius: 100px 0 0 0;
  -moz-border-radius-topright: 0 100px 0 0;
  border-top-right-radius: 0 100px 0 0;*/

}
#usage > figure:nth-of-type(2) > img {
  left: calc(50% - 300px);
  position: relative;
/*  -webkit-border-radius: 0 100px 0 0;
  -moz-border-radius-topright: 0 100px 0 0;
  border-top-right-radius: 0 100px 0 0;*/
}
#usage > figure:nth-of-type(3) > img {

} 
