/*general*/
body {
	font-family: hannari;
}
div {
	width: 100%;
	text-align: center;
	height: 500px;
}
@font-face {
	font-family: hannari;
	src: url(Hannari.otf);
}

/*define animation style*/
/*font-sizeを大きくするのは間違い
coneriではopacityとposition
しかもランダム*/
@-webkit-keyframes morph_text {
	from {font-size: 0px}
	to {font-size: 30px}
}
@-webkit-keyframes hide_text {
	0% {font-size: 0px}
	100% {font-size: 0px}
}
span {
	font-size: 30px;
	display: inline-block;
	width: 30px;
	position: relative;
	line-height: 500px;
}

/*span {
	-webkit-animation: morph_text s ease-in 0s;
	-webkit-animation-name: morph_text;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
}
*/span:nth-child(1) 
	{
	-webkit-animation: morph_text 1000ms ease-out 100ms, hide_text 100ms linear;
	}
span:nth-child(2) 
	{
	-webkit-animation: morph_text 1000ms ease-out 400ms, hide_text 400ms linear;
	}
span:nth-child(3) 
	{
	-webkit-animation: morph_text 1000ms ease-out 700ms, hide_text 700ms linear;
	}
span:nth-child(4)
	{
	-webkit-animation: morph_text 1000ms ease-out 200ms, hide_text 200ms linear;
	}
span:nth-child(5)
	{
	-webkit-animation: morph_text 1000ms ease-out 500ms, hide_text 500ms linear;
	}
span:nth-child(6)
	{
	-webkit-animation: morph_text 1000ms ease-out 800ms, hide_text 800ms linear;
	}
span:nth-child(7)
	{
	-webkit-animation: morph_text 1000ms ease-out 1200ms, hide_text 1200ms linear;
	}
span:nth-child(8)
	{
	-webkit-animation: morph_text 1000ms ease-out 600ms, hide_text 600ms linear;
	}
span:nth-child(9)
	{
	-webkit-animation: morph_text 1000ms ease-out 900ms, hide_text 900ms linear;
	}
span:nth-child(10)
	{
	-webkit-animation: morph_text 1000ms ease-out 300ms, hide_text 300ms linear;
	}
span:nth-child(11)
	{
	-webkit-animation: morph_text 1000ms ease-out 100ms, hide_text 100ms linear;
	}
span:nth-child(12)
	{
	-webkit-animation: morph_text 1000ms ease-out 400ms, hide_text 400ms linear;
	}
span:nth-child(13)
	{
	-webkit-animation: morph_text 1000ms ease-out 700ms, hide_text 700ms linear;
	}
span:nth-child(14)
	{
	-webkit-animation: morph_text 1000ms ease-out 200ms, hide_text 200ms linear;
	}
span:nth-child(15)
	{
	-webkit-animation: morph_text 1000ms ease-out 500ms, hide_text 500ms linear;
	}
span:nth-child(16)
	{
	-webkit-animation: morph_text 1000ms ease-out 800ms, hide_text 800ms linear;
	}
span:nth-child(17)
	{
	-webkit-animation: morph_text 1000ms ease-out 900ms, hide_text 900ms linear;
	}
span:nth-child(18)
	{
	-webkit-animation: morph_text 1000ms ease-out 600ms, hide_text 600ms linear;
	}
span:nth-child(19)
	{
	-webkit-animation: morph_text 1000ms ease-out 1200ms, hide_text 1200ms linear;
	}
span:nth-child(20)
	{
	-webkit-animation: morph_text 1000ms ease-out 300ms, hide_text 300ms linear;
	}
